@model UnBanModel
@{
    ViewData["Title"] = Global.SiteName;
    <link rel="stylesheet" type="text/css" href="/css/afterlogin.css">
}


@{
    try
    {
        @if (Global.Sessions[Model.UserIp].User == OFiveSite.User.Guest)
        {
            throw new Exception("return by ghost");
        }
    }
    catch (Exception ex)
    {
        Global.DebugError("User with ip " + Model.UserIp + " trying to join admin-panel without login. Exception message: " + ex.Message);

        <script language="JavaScript" ENGINE="text/javascript">
            <!--
            location = "https://admin.arkhamproject.ru"
            //-->
        </script>
    }
}

@using (Html.BeginForm("Refresh", "UnBan", FormMethod.Get))
{
    <input type="hidden" value="@Model.UserIp" id="UserIp" name="UserIp" />
    <div class="lists1" align="center">
        Игрок (SteamId64):
        <input type="number" value="@Model.SteamId" id="SteamId" name="SteamId" onchange="this.form.submit()" class="selected" />
    </div>
    <div class="lists2" align="center">
        Причина:
        <input value="@Model.Reason" id="Reason" name="Reason" onchange="this.form.submit();" class="selected" />
    </div>
    <div class="lists3" align="center">
        Комментарий:
        <input value="@Model.Comment" id="Comment" name="Comment" onchange="this.form.submit();" class="selected" />
    </div>
    <div class="lists3" align="center">
        <p>
            @Model.Message
        </p>
    </div>
}
s
@using (Html.BeginForm("UnBanAction", "UnBan", FormMethod.Get))
{
    <input type="hidden" value="@Model.UserIp" id="UserIp" name="UserIp" />
    <input type="hidden" value="@Model.SteamId" id="SteamId" name="SteamId" />
    <input type="hidden" value="@Model.Reason" id="Reason" name="Reason" />
    <input type="hidden" value="@Model.Comment" id="Comment" name="Comment" />
    <div align="center" class="ban">
        <button type="submit" class="button">Разбанить игрока с SteamId64 @Model.SteamId</button>
    </div>
}

@using (Html.BeginForm("ToMain", "Main", FormMethod.Get))
{
    <div align="center" class="ban">
        <button type="submit" class="button_no_blick">Обратно</button>
    </div>
}